/* Basic styling */

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Open Sans";
  font-optical-sizing: auto;
  /* font-weight: 500; */
  /* font-style: medium;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0; */
}

/* Popup css */
.container {
  border: 1px solid darkgray;
  padding: 40px;
  border-radius: 43px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 540px;
  margin: 30px auto;
}

#carousel {
  height: 650px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slide {
  position: relative;
  text-align: center;
}

.plainText {
  text-align: left;
  color: #808080;
  font-size: 15px;
  margin-bottom: 0px;
}

.visibleThirdSlideOne {
  display: none;
}
.visibleThirdSlideTwo {
  display: none;
}

.visibleFourthSlideOne {
  display: none;
}

.visibleFourthSlideTwo {
  display: none;
}
.simpletextSize {
  color: #1e1c83;
  display: flex;
  align-items: center;
  margin-top: 0;
  font-size: 14px;
}

/* Buttons */

button {
  padding: 3px;
  border: 1px solid #1e1c83;
  background-color: #ffffff;
  color: rgb(83, 84, 83);
  border-radius: 100px;
  cursor: pointer;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

.note {
  color: orange;
  font-size: 12px;
}

button img {
  margin-right: 10px;
  margin-left: 7px;
}

button span {
  flex: 1;
}

button.selected {
  background-color: #ffffff;
  border-color: #1e1c83;
}

button:hover {
  background-color: #ffffff;
  border-color: #1e1c83;
}

/* Show first slide */
.slide:first-child {
  display: block;
}

.navigation-container {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.prev-button,
.next-button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
  max-width: 185px;
  justify-content: center;
  height: 55px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 100px;
  font-size: large;
}

.prev-button {
  border: 2px solid #1e1c83;
  background-color: #ffffff;
  color: #34c99d;
  font-size: large;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 400px) {
  button {
    width: 100%;
  }
}

/* Align left and right options */
.options {
  display: flex;
  /* justify-content: space-between; Distribute items evenly */
  max-width: 540px;
  margin: auto;
  gap: 28px;

  /* border: 1px solid black;
  border-radius: 20px; */
}
@media (max-width: 540px) {
  .options {
    width: 100%;
  }
}
.left-options,
.right-options {
  width: 50%;
}

.left-options button,
.right-options button {
  margin-top: 5%;
}

/* Align left and right form inputs */
.final-form {
  display: flex;
  text-align: left;
  margin: auto;
  justify-content: space-between;
  width: 100%;
}
.left-inputs,
.right-inputs {
  width: 50%;
}
.left-inputs input,
.right-inputs input {
  width: 87%;
  padding: 0 10px;
}
.left-inputs button,
.right-inputs button {
  margin-top: 5%;
}

.failas-label {
  font-size: 12px;
  color: #b9b9b9;
  text-align: left;
}
.failas-input .inputStyle {
  display: flex;
  width: 85%;
  padding: 0 10px;
}

@media (max-width: 540px) {
  .final-form {
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  }
  .failas-input .inputStyle {
    padding: 5px;
    width: 90%;
    height: 32px;
  }
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.step {
  width: 32px;
  height: 32px;
  /* outline-style: solid; */
  /* outline-color: #10bd69; */
  border: 1px solid #10bd69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1e1c83;
  font-weight: 500;
}

.active {
  background-color: #1e1c83; /* Color for completed steps */
  color: #fff;
}
.line {
  flex: 1;
  height: 2px;
  background-color: #ddd;
  position: relative;
}

.line1.active {
  background-color: #34c99d; /* Color for the filled line */
}
.line2.active {
  background-color: #34c99d; /* Color for the filled line */
}
.line3.active {
  background-color: #34c99d; /* Color for the filled line */
}
.line4.active {
  background-color: #34c99d; /* Color for the filled line */
}
.line5.active {
  background-color: #34c99d; /* Color for the filled line */
}
/* Add more classes for additional lines if needed */

/* Button Styles */
.button-style {
  padding: 10px 20px;
  background: linear-gradient(to right, #1e1c83, #34c99d);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 185px;
  height: 55px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 100px;
}

.button-style:hover {
  background-color: #10bd69;
}

.heading1 {
  color: #1e1c83;
  display: flex;
  align-items: center;
  margin-top: 2%;
  font-size: 15px;
  font-weight: 700;
  margin: 4px 0px;
  width: 312px;
}

.heading2 {
  color: #1e1c83;
  display: flex;
  align-items: center;
  margin-top: 2%;
}
.logo {
  margin-left: 0px;
  margin-right: auto;
  width: 23%;
  max-width: 102px;
  margin-bottom: 8px;
  margin-top: 7px;
}
.main-heading {
  color: #1e1c83;
  margin-left: 124px;
  margin-bottom: 12px;
  margin-top: -87px;
}

.selectImg {
  width: 28px;
  display: none;
  /* margin-top: 15%; */
  /* margin-left: 30%; */
}

.hidden {
  display: none;
}

button.disabled {
  background-color: #333;
}
.optionText {
  font-size: 21px;
  color: #808080;
  width: 78%;
  text-align: left;
  height: 26px;
}

.inputStyle {
  border: 1.5px solid #1e1c83;
  border-radius: 11px;
  height: 42px;
  margin-top: 7px;
}
.inputStyleBig {
  border: 1.5px solid #1e1c83;
  border-radius: 11px;
  height: 148px;
  margin-top: 7px;
}

.level-heading {
  font-size: 16px;
  color: #1e1c83;
  font-weight: 700;
  margin: 4px 0px;
}

.left-text {
  font-size: 14px;
  color: #808080;
  text-align: left;
  margin-top: 0;
  font-weight: 500;
  gap: 0px;
}

.divider {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #e4e4e4;
}

.contact-slide {
  display: none;
  text-align: left;
  font-size: 16px;
  color: #808080;
  font-weight: 500;
}

.contact-slide a {
  font-weight: 600;
  color: #1e1c83;
}

.contact-slide .contact {
  font-weight: 500;
  color: #1e1c83;
}
.contact-slide .main-logo {
  display: flex;
  margin-top: 50%;
  justify-content: center;
  align-items: flex-end;
}

.contact-slide .main-logo img {
  width: 100%;
  min-width: 185px;
  max-width: 185px;
}
.systemSelectionText {
  font-size: 14px;
}
.visibleBasedOnFullArch {
  display: none;
}
.inputStyle.error {
  border: 1px solid red;
}

/* Center and style the error message */
#errorMsg {
  color: red;
  text-align: right;
  width: 80%;
  max-width: 540px;
  padding: 0px 10px;
}

.imgSmallScreen {
  width: 172px;
  height: 166px;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  #errorMsg {
    font-size: 14px; /* Smaller font size for mobile */
    width: 90%; /* Adjust width for mobile screens */
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  #carousel {
    height: 520px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5px;
  }

  .failas-label {
    font-size: 10px;
    color: #b9b9b9;
    text-align: left;
  }

  .captcha {
    height: 50px;
    width: 50px;
  }

  .plainText {
    text-align: left;
    color: #808080;
    font-size: 12px;
    margin-bottom: 0px;
  }
  .systemSelectionText {
    font-size: 11px;
  }
  .buttonAlignment {
    margin-right: 160px;
    width: 43%;
  }
  #errorMsg {
    font-size: 12px; /* Even smaller font size for very small screens */
    width: 95%; /* Adjust width for very small screens */
  }
  button {
    width: 168px;
    padding: 3px;
    height: 60px;
  }
  .optionText {
    font-size: 14px;
    height: 15px;
  }
  button img {
    height: 32px;
    width: 32px;
    margin-right: 4px;
    margin-left: 2px;
  }
  .options {
    gap: 1px;
  }
  .container {
    padding: 2px;
    width: 350px;
  }
  .selectImg {
    width: 12px;
    height: 12px;
  }

  .imgSmallScreen {
    width: 114px;
    height: 135px;
  }
  .total {
    font-size: large;
    color: #1e1c83;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .simpletext {
    text-align: left;
    color: #1e1c83;
    font-weight: 700;
    margin: 0px 0px;
  }
  .left-inputs input {
    width: 87%;
    padding: 0 8px;
    height: 32px;
  }
  .right-inputs input {
    width: 87%;
    padding: 0 8px;
    height: 114px;
  }
  .heading1 {
    font-size: 11px;
    width: 225px;
  }
  .heading2 {
    font-size: 10.2px;
  }
  .simpletextSize {
    font-size: 10px;
  }
  .left-text {
    font-size: 11.7px;
  }
  .button-style {
    max-width: 140px;
  }
  .logo {
    margin-left: 6px;
    width: 19%;
    max-width: 102px;
    margin-bottom: 8px;
    margin-top: 15px;
  }
  .main-heading {
    color: #1e1c83;
    margin-left: 88px;
    margin-bottom: 12px;
    margin-top: -56px;
    font-size: 18px;
  }
  .note {
    color: orange;
    font-size: 8.8px;
  }
}

.half-colored-line {
  display: flex;
  flex: 1;
  width: 50%;
}

.red {
  background-color: #34c99d;
}

.white {
  background-color: #ddd;
}

.submit-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.calcText {
  margin: 2px 0;
}

/* .imageContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
} */

.g-recaptcha {
  margin: 0;
  transform: scale(0.83);
  transform-origin: 0 0;
}

.buttonAlignment {
  margin-right: 354px;
  width: 100%;
}
.simpletext {
  text-align: left;
  color: #1e1c83;
  font-weight: 400;
  margin: 0px 0px;
}
.total {
  font-size: large;
  color: #1e1c83;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 3px;
}
