/* Basic styling */

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Open Sans";
  font-optical-sizing: auto;
  /* font-weight: 500; */
  /* font-style: medium;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0; */
}

#carousel {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  max-width: 418px;
}

.slide {
  position: relative;
  text-align: center;
}

/* Buttons */

button {
  padding: 6px 20px;
  border: 2.5px solid #34c99d;
  background-color: #ffffff;
  color: rgb(83, 84, 83);
  border-radius: 100px;
  cursor: pointer;
  max-width: 100%;
  display: flex;
  align-items: center;
}

button img {
  margin-right: 10px;
}

button span {
  flex: 1;
}

button.selected {
  background-color: #ffffff;
  border-color: #1e1c83;
}

button:hover {
  background-color: #ffffff;
  border-color: #1e1c83;
}

/* Show first slide */
.slide:first-child {
  display: block;
}

.navigation-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.prev-button,
.next-button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  justify-content: center;
  height: 50px;
  margin-left: 6%;
  margin-right: 6%;
  border-radius: 100px;
}

.prev-button:hover,
.next-button:hover {
  background-color: gray;
}

@media (min-width: 400px) {
  button {
    width: 100%;
  }
}

/* Align left and right options */
.options {
  display: flex;
  /* justify-content: space-between; Distribute items evenly */
  max-width: 418px;
  margin: auto;
  gap: 28px;

  /* border: 1px solid black;
  border-radius: 20px; */
}
@media (max-width: 418px) {
  .options {
    width: 100%;
  }
}
.left-options,
.right-options {
  width: 50%;
}

.left-options button,
.right-options button {
  margin-top: 5%;
}

/* Align left and right form inputs */
.final-form {
  display: flex;
  text-align: left;
  margin: auto;
  justify-content: space-between;
  width: 100%;
}
.left-inputs,
.right-inputs {
  width: 48%;
}
.left-inputs input,
.right-inputs input {
  width: 87%;
  padding: 0 10px;
}
.left-inputs button,
.right-inputs button {
  margin-top: 5%;
}

.failas-label {
  font-size: 12px;
  color: #B9B9B9;
  text-align: left;
}
.failas-input .inputStyle{
  display: flex;
  width: 42%;
  padding: 0 10px;
}

@media (max-width: 418px) {
  .final-form {
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  }
  .failas-input .inputStyle {
    margin: auto;
    width: 90%;
  }
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.step {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.active {
  background-color: #1e1c83; /* Color for completed steps */
  color: #fff;
}
.line {
  flex: 1;
  height: 2px;
  background-color: #ddd;
  position: relative;
}

.line1.active {
  background-color: #1e1c83; /* Color for the filled line */
}
.line2.active {
  background-color: #1e1c83; /* Color for the filled line */
}
.line3.active {
  background-color: #1e1c83; /* Color for the filled line */
}
.line4.active {
  background-color: #1e1c83; /* Color for the filled line */
}
.line5.active {
  background-color: #1e1c83; /* Color for the filled line */
}
/* Add more classes for additional lines if needed */

/* Button Styles */
.button-style {
  padding: 10px 20px;
  background: linear-gradient(to right, #1e1c83, #34c99d);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 125px;
  height: 50px;
  margin-left: 6%;
  margin-right: 6%;
  border-radius: 100px;
}

.button-style:hover {
  background-color: #10bd69;
}

.heading {
  color: #1e1c83;
  display: flex;
  align-items: center;
  margin-top: 2%;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 418px;
}

.selectImg {
  width: 28px;
  display: none;
  /* margin-top: 15%; */
  /* margin-left: 30%; */
}

.hidden {
  display: none;
}

button.disabled {
  background-color: #333;
}
.optionText {
  font-size: 21px;
  color: #808080;
  width: 78%;
  text-align: left;
}

.inputStyle {
  border: 1.5px solid #34c99d;
  border-radius: 11px;
  height: 42px;
  margin-top: 7px;
}
.inputStyleBig {
  border: 1.5px solid #34c99d;
  border-radius: 11px;
  height: 148px;
  margin-top: 7px;
}

.level-heading {
  font-size: 16px;
  color: #1E1C83;
  font-weight: 700;
}

.divider {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.contact-slide {
  display: none; 
  text-align: left;
  font-size: 16px;
  color: #808080;
  font-weight: 500;
}

.contact-slide a {
  font-weight: 600;
  color: #1E1C83;
}

.contact-slide .contact {
  font-weight: 500;
  color: #1E1C83;
} 
.contact-slide .main-logo {
  display: flex;
  margin-top: 50%;
  justify-content: center;
  align-items: flex-end;
}

.contact-slide .main-logo img {
  width: 100%;
  min-width: 180px;
  max-width: 180px;
}